#headin{
    text-align: center;
}
#tab{
    margin-top: 40px;
    text-align: center;
}
#popup{
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.712);
    padding: 10px;
    border-radius: 10px;

}
#popup1{
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.712);
    padding: 10px;
    border-radius: 10px;

}
.form-group label{
        color: white;
}
#popup button{
    margin-left: 34%;
}